
<!-- Meta data fields for document -->
{{define "meta"}}
{{end}}


<!-- styles and javascript dependencies -->
{{define "imports"}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
  <link rel="stylesheet" href="/styles/application.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
{{end}}

<!-- Document title check for title field or default -->
{{define "title"}}
  {{if hasField . "Title"}}
  <title>{{.Title}}</title>
  {{else}}
  <title>Root-Source ~ A community of Open Source developers</title>
  {{end}}
{{end}}

<!-- All head tags -->
{{define "head"}}
  {{template "title" .}}
  {{template "meta"}}
  {{template "imports"}}
{{end}}
